<connectionStrings>
  <add name="EconomicalleagueContainer" connectionString="metadata=res://*/Economicalleague.csdl|res://*/Economicalleague.ssdl|res://*/Economicalleague.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Economicalleague;persist security info=True;user id=sa;password=Admin2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
