<connectionStrings>
  <add name="ZuoTop_ProjectEntities" connectionString="metadata=res://*/ZuoTop.Project.csdl|res://*/ZuoTop.Project.ssdl|res://*/ZuoTop.Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PFYOPT7N2AR5PR6\GHUI;initial catalog=ZuoTop_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
